.place__title {
font-weight: 900;
font-style: normal;
font-size: 72px;
line-height: 1;
margin: 0;
max-width: 460px;
}


@media screen and (max-width: 425px) {
    .place__title {
    font-size: 32px;
    margin-left: 5%;
    margin-right: 5%;
    }
}

@media screen and (min-width: 426px) and (max-width:759px){
    .place__title {
    font-size: 32px;
    }
}


@media screen and (min-width: 760px) and (max-width: 1020px) {
    .place__title {
    font-size: 42px;
    }
}