.photo-grid {
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-template-rows: auto;
    align-content: center;
    gap: 16px;
    padding-bottom: 92px;
    margin: auto;
}

@media screen and (max-width: 329px) {
    .photo-grid {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 760px) {
    .photo-grid {
        margin: 0 5% 0 5%;
    }
}

@media screen and (min-width: 760px) and (max-width: 1020px) {
    .photo-grid {
        margin: 0 3% 0 3%;
    }
}

@media screen and (min-width: 1020px) and (max-width: 1260px) {
    .photo-grid {
        max-width: 928px;
    }
}