.places {
    max-width: 984px;
    margin: auto;
    padding-bottom: 12px;
}


@media screen and (min-width: 425px) and (max-width: 760px) {
    .places {
        margin: 0 5% 0 5%;
    }
}

@media screen and (min-width: 761px) and (max-width: 1020px) {
    .places {
        margin: 0 3% 0 3%;
    }
}

@media screen and (min-width: 1020px) and (max-width: 1260px) {
.places {
    max-width: 928px;
}
}
