.place__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-template-rows: auto;
    align-content: center;
    gap: 40px;
}

.place__row:first-of-type {
    margin-bottom: 48px;
}

@media screen and (max-width: 329px) {
    .place__row {
        grid-template-columns: auto;
    }
}

@media screen and (min-width: 760px) and (max-width: 1020px) {
    .place__row {
        gap: 28px;
    }
}

@media screen and (min-width: 1020px) and (max-width: 1260px) {
    .place__row {
        gap: 32px;
    }
}