.header__logo {
    background-image: url(../../../images/header-logo.svg);
    width: 176px;
    height: 52px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 28px;
    margin-bottom: 48px;
}

@media screen and (max-width: 320px) {
    .header__logo {
        margin-top: 16px;
        width: 142px;
        height: 42px;
    }
}

@media screen and (min-width: 1280px) {
    .header__logo {
        margin-bottom: 56px;
    }
}