/*.place__column {
    max-width: 460px;
    display: grid;
grid-template-rows: auto;
grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    background-color: turquoise;
    gap: 58px;
}

@media screen and (max-width: 319px){
    .place__column {
        grid-template-columns: 1fr;
    }
}