.cover__overlay-hover {
    width: 100%;
   min-height: 730px;
    background: #2A2C2F;
opacity: 0.5;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}

.cover:hover .cover__overlay-hover {
    opacity: 0.8; 
}

@media screen and (max-width: 760px) {
    .cover__overlay-hover {
        min-height: calc(320px);
    }
}

@media screen and (min-width: 760px) and (max-width: 1020px) {
    .cover__overlay-hover {
        min-height: calc(660px);
    }
}